<div class="resumen">
  <div class="informacion_basica">
    <div class="container">
      <div class="row">
        <div class="col-md-8 align-self-center offset-1">
          <h1>Menu Rentas:</h1>
        </div>
        <div class="col-md-3">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="menu_botones">
            <li><a href="/contrib">Contribuyentes</a></li>
            <li><a href="#">Tasas e Impuestos</a></li>
            <li><a href="#">Barrido y Limpieza</a></li>
            <li><a href="#">Patentes</a></li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
