/*BASICOS*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 5px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

.container{
    width: 90%!important;
    min-height: 95%;

}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a.nolink,
a.nolink:focus,
a.nolink:hover {
    color: black;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 
 @font-face {
    font-family: Archia;
    font-weight: normal;
    src: url(../fonts/Archia-Regular.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: bold;
    src: url(../fonts/Archia-Bold.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: lighter;
    src: url(../fonts/Archia-Thin.otf) format('truetype');
 }

 /*BEGIN MAIN */
 .home {

}

.home h1 {
    color: #fff;
    background-color: var(--color_oscuro);
    border-radius: 25px;
    padding: 10px;
}

.home ul {

}

.home li {
    list-style: none;
}

.home .bloque_claro {
    color: #fff;
    background-color: var(--color_claro);
    border-color: white;
    border: solid 5px;
    border-radius: 25px;
    padding: 10px;
}

.home .boton_ingreso {
    margin: 20px;
    border-color: white;
    border: solid 0px;
    border-radius: 25px;
    border-color: white;
    padding: 20px;
    background-color: var(--color_claro);
    text-align: center;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}

.home .boton_ingreso h2 {
    color: var(--color_oscuro);
    font-weight: bold;
    margin: 0px;

}

.over_imagen {
    margin-bottom: 0px;
    padding: 0px;
}

/* Documentos Publicos */
.main_documentos {
    margin: 15px;
    border: 1px solid var(--color_oscuro);
    border-radius: 15px;
    background-color: var(--color_primario);
    color: white;
    padding: 0px;
    position: relative;
    top: 40px;
}

.main_documentos h2 {
    text-align: center;
    background-color: var(--color_oscuro);
    margin: 0px;
    border-radius: 15px 15px 0 0;
    padding: 5px;
    font-size: 1.5em;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Montserrat;
}

.main_documentos ul {
    padding: 10px;   
    font-family: Roboto;
    font-size: 1.2em;
    text-align: center;
}

.main_documentos li {
    list-style: none;
    padding: 5px;
    color: white;
}

.main_documentos a {
    color: white;
}

 /* Utilitarios */
 .nuevo_item {
    float: right;
 }

.volver {
     padding: 10px;
     float: right;
     margin: 15px;
     border-style: solid;
     border-radius: 25px;
     background-color: var(--color_primario);
     color: white;
}

p.error {
    color: red;
    font-weight: lighter;
    width: 100%;
    text-align: center;

}

a.boton_suelto {
    width: 100%;
    padding: 25px;
    margin: 10px!important;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: var(--color_primario);
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.bordeado {
    text-align: center;
    border: black 1px solid;
    border-radius: 15px;
    padding: 20px;
}

.mini_bordeado {
    text-align: center;
    border: var(--color_primario) 1px solid;
    border-radius: 5px;
    padding: 5px;

}

.importante {
    border: red 2px solid;
    color: red;
}

.importante h3 {
    font-weight: bold;
}

.importante p {
    font-size: large;
}

/* Tablas */
.listado {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.listado td, th {
    font-weight: normal;
    border: 1px solid #dddddd;
    padding: 8px;
}

.listado th{
  background-color: var(--color_oscuro);
  color: white;
  text-align: center;
}

.listado tr:nth-child(even) {
  background-color: #dddddd;
}

.resultado {
    color: white;
    font-weight: bold;
    background-color: var(--color_claro)!important;
    border-radius: 15px;
    border: 1px solid var(--color_oscuro);
    padding: 10px;
    margin: 25px;
}

/* Confirmar */
.confirmar {
    background: var(--color_claro);
    max-width: 60%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
    padding: 25px;
    text-align: center;
    font-weight: normal;
}

.confirmar a{
    background: var(--color_oscuro);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* IMAGENES */
img.icons {
    width: 25px;
}

img.iconsx0 {
    width: 15px;
}

img.iconsx2 {
    width: 50px;
}

img.iconsx4 {
    width: 80px;
}

img.iconsx8 {
    width: 160px;
}

img.documento{
    max-height: 10em;
}

img.fotos {
    width: 100%;
    padding: 5%;
}

img.foto_padding {
    width: 90%;
    padding: 10%;
}

/* BUSCADOR */
.buscador {
    float: right;
    display: flex;
    margin-bottom: 15px;
    margin-right: 25px;
}

.buscador input {
    width: 250px;
}

.buscador .btn_buscador {
    margin: 0!important;
}

.info_user {
    padding-left: 10%;
}

.aclaracion {
    width: 100%;
    padding-left: 15%;
    text-align: justify;
    font-weight: bold;
}

.alerta {
    width: 100%;
    text-align: center;
    color: tomato;
    font-weight: bold;
}

.botoncito {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color_oscuro);
    border-radius: 5px;
    margin-top: 10px!important;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.botoncito:hover
{
    text-decoration:none;
    background-color: var(--color_claro);
    color: whitesmoke;
    opacity: 0.9;
}

.elem
{
    box-shadow: 0px 0px 10px #00000008;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    margin: 10px;
    max-width: 250px;
}

.elem.small
{
    min-height: 115px;
    background: none;
    box-shadow: none;
}

.elem.small img
{
    box-shadow: 0px 0px 10px #00000008;
    border-radius: 5px;
    background: #fff;
    padding: 0px;
    min-height: 101px;
    object-fit: contain;
    margin-top: 10px;
}

.elem.big
{
    background: none;
    box-shadow: none;
    width: 100%;
}

.elem.big img.fotos
{
    padding: 0px;
    height: 340px;
    width: auto;
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 10px;
    box-shadow: 0px 0px 10px #00000008;
}

/* CARRUSEL */

#myCarousel
{
    position: relative;
    top: 11px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0000001f;
}
/*BASICOS*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

.container{
    width: 90%!important;
    min-height: 95%;

}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a.nolink,
a.nolink:focus,
a.nolink:hover {
    color: black;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 
 @font-face {
    font-family: Archia;
    font-weight: normal;
    src: url(../fonts/Archia-Regular.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: bold;
    src: url(../fonts/Archia-Bold.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: lighter;
    src: url(../fonts/Archia-Thin.otf) format('truetype');
 }

 /*BEGIN MAIN */
 .home {

}

.home h1 {
    color: #fff;
    background-color: var(--color_oscuro);
    border-radius: 25px;
    padding: 10px;
}

.home ul {

}

.home li {
    list-style: none;
}

.home .bloque_claro {
    color: #fff;
    background-color: var(--color_claro);
    border-color: white;
    border: solid 5px;
    border-radius: 25px;
    padding: 10px;
}

.home .boton_ingreso {
    margin: 20px;
    border-color: white;
    border: solid 0px;
    border-radius: 25px;
    border-color: white;
    padding: 20px;
    background-color: var(--color_claro);
    text-align: center;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}

.home .boton_ingreso h2 {
    color: var(--color_oscuro);
    font-weight: bold;
    margin: 0px;

}

.over_imagen {
    margin-bottom: 0px;
    padding: 0px;
}

/* Documentos Publicos */
.main_documentos {
    margin: 15px;
    border: 1px solid var(--color_oscuro);
    border-radius: 15px;
    background-color: var(--color_primario);
    color: white;
    padding: 0px;
    position: relative;
    top: 40px;
}

.main_documentos h2 {
    text-align: center;
    background-color: var(--color_oscuro);
    margin: 0px;
    border-radius: 15px 15px 0 0;
    padding: 5px;
    font-size: 1.5em;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Montserrat;
}

.main_documentos ul {
    padding: 10px;   
    font-family: Roboto;
    font-size: 1.2em;
    text-align: center;
}

.main_documentos li {
    list-style: none;
    padding: 5px;
    color: white;
}

.main_documentos a {
    color: white;
}

 /* Utilitarios */
 .nuevo_item {
    float: right;
 }

.volver {
     padding: 10px;
     float: right;
     margin: 15px;
     border-style: solid;
     border-radius: 25px;
     background-color: var(--color_primario);
     color: white;
}

p.error {
    color: red;
    font-weight: lighter;
    width: 100%;
    text-align: center;

}

a.boton_suelto {
    width: 100%;
    padding: 25px;
    margin: 10px!important;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: var(--color_primario);
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.bordeado {
    text-align: center;
    border: black 1px solid;
    border-radius: 15px;
    padding: 20px;
}

.mini_bordeado {
    text-align: center;
    border: var(--color_primario) 1px solid;
    border-radius: 5px;
    padding: 5px;

}

.importante {
    border: red 2px solid;
    color: red;
}

.importante h3 {
    font-weight: bold;
}

.importante p {
    font-size: large;
}

/* Tablas */
.listado {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.listado td, th {
    font-weight: normal;
    border: 1px solid #dddddd;
    padding: 8px;
}

.listado th{
  background-color: var(--color_oscuro);
  color: white;
  text-align: center;
}

.listado tr:nth-child(even) {
  background-color: #dddddd;
}

.resultado {
    color: white;
    font-weight: bold;
    background-color: var(--color_claro)!important;
    border-radius: 15px;
    border: 1px solid var(--color_oscuro);
    padding: 10px;
    margin: 25px;
}

/* Confirmar */
.confirmar {
    background: var(--color_claro);
    max-width: 60%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
    padding: 25px;
    text-align: center;
    font-weight: normal;
}

.confirmar a{
    background: var(--color_oscuro);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* IMAGENES */
img.icons {
    width: 25px;
}

img.iconsx0 {
    width: 15px;
}

img.iconsx2 {
    width: 50px;
}

img.iconsx4 {
    width: 80px;
}

img.iconsx8 {
    width: 160px;
}

img.documento{
    max-height: 10em;
}

img.fotos {
    width: 100%;
    padding: 5%;
}

img.foto_padding {
    width: 90%;
    padding: 10%;
}

/* BUSCADOR */
.buscador {
    float: right;
    display: flex;
    margin-bottom: 15px;
    margin-right: 25px;
}

.buscador input {
    width: 250px;
}

.buscador .btn_buscador {
    margin: 0!important;
}

.info_user {
    padding-left: 10%;
}

.aclaracion {
    width: 100%;
    padding-left: 15%;
    text-align: justify;
    font-weight: bold;
}

.alerta {
    width: 100%;
    text-align: center;
    color: tomato;
    font-weight: bold;
}

.botoncito {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color_oscuro);
    border-radius: 5px;
    margin-top: 10px!important;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.botoncito:hover
{
    text-decoration:none;
    background-color: var(--color_claro);
    color: whitesmoke;
    opacity: 0.9;
}

.elem
{
    box-shadow: 0px 0px 10px #00000008;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    margin: 10px;
    max-width: 250px;
}

.elem.small
{
    min-height: 115px;
    background: none;
    box-shadow: none;
}

.elem.small img
{
    box-shadow: 0px 0px 10px #00000008;
    border-radius: 5px;
    background: #fff;
    padding: 0px;
    min-height: 101px;
    object-fit: contain;
    margin-top: 10px;
}

.elem.big
{
    background: none;
    box-shadow: none;
    width: 100%;
}

.elem.big img.fotos
{
    padding: 0px;
    height: 340px;
    width: auto;
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    top: 10px;
    box-shadow: 0px 0px 10px #00000008;
}

/* CARRUSEL */

#myCarousel
{
    position: relative;
    top: 11px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0000001f;
}