<section class="contract-list main-full-page-content">
  <mat-card class="sapce">
    <mat-card-header style="display: flex; align-items: center;">
      <div class="titulo">Busqueda de Contribuyentes</div>
    </mat-card-header>

    <mat-card-content>

      <br />
      <form class="example-form" enctype="multipart/form-data"[formGroup]="busqueda" (ngSubmit)="searchContrib()">
          <mat-form-field>
            <input class="form-control" matInput type="text" placeholder="Buscar por Nº de DNI" formControlName="search" (ngModelChange)="onChange()">
          </mat-form-field><br />
        <mat-action-row>
          <button mat-button class="btn btn-outline-info" type="button" (click)="searchContrib()" [disabled]="!buscar">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button class="btn btn-outline-info" type="button" (click)="borradoform()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </form>
    <div class="nuevoContr">
      <a class="btn btn-outline-info" href="/contrib_add">
          <img class="icons" src="#" alt="Cargar Nuevo Contribuyente">
      </a>
      </div><br><br>
    <br>
      <div class="table container-carga">
        <mat-table [hidden]="loading" mat-table [dataSource]="dataSourceContrib">
          <ng-container matColumnDef="contrib">
            <mat-header-cell class="th" *matHeaderCellDef> Nombre del Contribuyente </mat-header-cell>
            <mat-cell class="td" *matCellDef="let content; let i = index"
                      [class.active]="i == currentIndex"
                      (click)="setActiveContrib(content, i)">
              {{content.nombre}} {{content.apellido}}</mat-cell>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
        <div class="box">
          <mat-spinner *ngIf="loading"></mat-spinner>
        </div>
      </div>
      <br />
    </mat-card-content>
  </mat-card>
      <br />
  <mat-card class="sapce" *ngIf="currentContrib">
        <mat-card-header style="display: flex; align-items: center;">
          <div class="titulo">Detalle del contribuyente</div>
        </mat-card-header>
    <br />
        <mat-card-content>
          <div class="nuevoContr">
        <div>
          <label><strong>Nombre:</strong></label> {{ currentContrib.nombre }}
        </div>
        <div>
          <label><strong>Apellido:</strong></label>
          {{ currentContrib.apellido }}
        </div>
        <div>
          <label><strong>Fecha de Nacimiento:</strong></label>
          {{ currentContrib.fecNac }}
        </div>
        <div>
          <label><strong>Nacionalidad:</strong></label>
          {{ currentContrib.nacionalidad }}
        </div>
        <div>
          <label><strong>Tido de Documento:</strong></label>
          {{ currentContrib.tipoDoc }}
        </div>
        <div>
          <label><strong>Nª Documento:</strong></label>
          {{ currentContrib.numDoc }}
        </div>
        <div>
          <label><strong>Estado:</strong></label>
          {{ currentContrib.estado }}
        </div>
          </div>
        <a class="badge badge-warning" href="/contrib/{{ currentContrib.id }}">
          Edit
        </a>

    </mat-card-content>
  </mat-card>
</section>
