<!doctype html>
<html lang="es">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reporte PDF</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        @page {
            size: "A4";
            margin: 1.0cm 1.5cm 3.5cm 1.5cm;
        }
        body {
            width: 100% !important;
            height: 100%;
            background: #fff;
            color: black;
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
            line-height: 1.65;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none; 
        }
        
    </style>
</head>
<body>
<h1 class="text-center">MUNICIPALIDAD DE FRAILE PINTADO</h1>
<br/>
<h2>Veamos que sale</h2>
<table class="table table-bordered" style="text-align: center;">
    <thead class="table-success">
        <th style="text-align: center;">prueba</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ data.nombre.value }}</td>
        </tr>
    </tbody>
</table>

</body>
</html>

