{% extends 'base_bromatologia.html' %}

{% load static %}

{% block body_block %}


<div class="container">
    <div class="row">
        <h2>Contribuyente: <b>{{contrib.contribuyente}}</b></h2>
        <br>
    </div>
    <div class="row">
        <h3>El Contribuyente presentó la siguiente Documentación:</h3>
    </div>
    <div class="row">
        <div class="col col-md-1 offset-1"></div>
        <div class="col col-md-8">
            <table class="table table-bordered" style="text-align: center;">
                <thead class="table-success">
                    <th style="text-align: center;">Documentación</th>
                    <th style="text-align: center;">Estado</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Nota solicitando la habilitación del remis</td>
                        <td>
                            {% if contrib.nota == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia del D.N.I.</td>
                        <td>
                            {% if contrib.fotoDNI == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia del Carnet Sanitario</td>
                        <td>
                            {% if contrib.fotoSani == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia del carnet de conducir</td>
                        <td>
                            {% if contrib.fotoCarnet == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Planilla Prontuarial</td>
                        <td>
                            {% if contrib.planilla == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Título del Automotor</td>
                        <td>
                            {% if contrib.titulo == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Contrato de locación del vehículo o autorización</td>
                        <td>
                            {% if contrib.contrato == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Cédula Verde</td>
                        <td>
                            {% if contrib.cedula == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Seguro del Vehíuculo - Patentamiento</td>
                        <td>
                            {% if contrib.seguro == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Inspección y Desinfección del vehículo</td>
                        <td>
                            {% if contrib.inspeccion == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Inspección Técnica Nacional</td>
                        <td>
                            {% if contrib.itn == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Libre de deuda municipal de ambos (Titular y Chofer)</td>
                        <td>
                            {% if contrib.libre == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'bromatologia:menu' %}"><i class="fa fa-arrow-left"></i>  Volver al Menú</a>
            <a class="btn btn-success" href="{% url 'bromatologia:habilRemis' contribuyente_id=contrib.id %}"><i class="fa fa-upload"></i>  Cargar Documentación</a>
            <a class="btn btn-warning" href="#"><i class="fa fa-print"></i>  Imprimir</a>
        </div>
        <div class="col col-md-3 offset-3"></div>
    </div>
    <div class="row align-items-center">
        
    </div>
</div>



{% endblock %}
