{% extends 'base_bromatologia.html' %}

{% load static %}

{% block body_block %}


<div class="container">
    <div class="row">
        <h2>Contribuyente: <b>{{contrib.contribuyente}}</b></h2>
        <br>
    </div>
    <div class="row">
        <h3>El Contribuyente presentó la siguiente Documentación:</h3>
    </div>
    <div class="row">
        <div class="col col-md-1 offset-1"></div>
        <div class="col col-md-8">
            <table class="table table-bordered" style="text-align: center;">
                <thead class="table-success">
                    <th style="text-align: center;">Documentación</th>
                    <th style="text-align: center;">Estado</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Nota de Solicitud de Habilitación</td>
                        <td>
                            {% if contrib.nota == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia del D.N.I.</td>
                        <td>
                            {% if contrib.fotoDNI == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia del Carnet Sanitario</td>
                        <td>
                            {% if contrib.fotoCarnet == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Fotocopia de Escritura/Contrato/Permiso de Propiedad</td>
                        <td>
                            {% if contrib.fotoEscritura == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Croquis del Local</td>
                        <td>
                            {% if contrib.croquis == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Certificado de Libre de Deuda Municipal</td>
                        <td>
                            {% if contrib.libreDeuda == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Inspección de Comercio</td>
                        <td>
                            {% if contrib.inspeccionComercio == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Inspección de Obras Públicas</td>
                        <td>
                            {% if contrib.inspeccionObras == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Matafuegos</td>
                        <td>
                            {% if contrib.matafuego == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'bromatologia:menu' %}"><i class="fa fa-arrow-left"></i>  Volver al Menú</a>
            <a class="btn btn-success" href="{% url 'bromatologia:habilNegocios' contribuyente_id=contrib.id %}"><i class="fa fa-upload"></i>  Cargar Documentación</a>
            <a class="btn btn-warning" href="#"><i class="fa fa-print"></i>  Imprimir</a>
        </div>
        <div class="col col-md-3 offset-3"></div>
    </div>
    <div class="row align-items-center">
        
    </div>
</div>



{% endblock %}
