{% extends 'base_bromatologia.html' %}

{% load static %}

{% block body_block %}


<div class="container">
    <div class="row">
        <h2>Contribuyente: <b>{{contrib.contribuyente}}</b></h2>
        <br>
    </div>
    <div class="row">
        <h3>El Contribuyente presentó la siguiente Documentación:</h3>
    </div>
    <div class="row">
        <div class="col col-md-1 offset-1"></div>
        <div class="col col-md-8">
            <table class="table table-bordered" style="text-align: center;">
                <thead class="table-success">
                    <th style="text-align: center;">Documentación</th>
                    <th style="text-align: center;">Estado</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Nota solicitando la venta ambulante</td>
                        <td>
                            {% if contrib.nota == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Carnet Sanitario</td>
                        <td>
                            {% if contrib.carnet == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Carpa o Gazebo en buenas condiciones</td>
                        <td>
                            {% if contrib.carpa == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Permiso del propietario de la vereda</td>
                        <td>
                            {% if contrib.permiso == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Autorización municipal</td>
                        <td>
                            {% if contrib.autorizacion == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Certificado de BPM</td>
                        <td>
                            {% if contrib.certBPM == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Poseer Agua Potable</td>
                        <td>
                            {% if contrib.agua == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Uniforme y Cofia</td>
                        <td>
                            {% if contrib.cofia == True %}
                                <b style="color: green;">Presentado</b>
                            {% else %}
                                <b style="color: red;">Faltante</b>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'bromatologia:menu' %}"><i class="fa fa-arrow-left"></i>  Volver al Menú</a>
            <a class="btn btn-success" href="{% url 'bromatologia:habilVendedor' contribuyente_id=contrib.id %}"><i class="fa fa-upload"></i>  Cargar Documentación</a>
            <a class="btn btn-warning" href="#"><i class="fa fa-print"></i>  Imprimir</a>
        </div>
        <div class="col col-md-3 offset-3"></div>
    </div>
    <div class="row align-items-center">
        
    </div>
</div>



{% endblock %}
