/* CONSTANTES */
:root {
    --gris_background: #e9e9eb;

    --color_claro: rgb(71, 201, 121);
    
    --color_primario: #b5bef1;

    --color_oscuro: rgb(43, 51, 85);
  }
/* CONSTANTES */
:root {
    --gris_background: #e9e9eb;

    --color_claro: rgb(71, 201, 121);
    
    --color_primario: #b5bef1;

    --color_oscuro: rgb(43, 51, 85);
  }