/* Reportes */

.filter_name {
    font-weight: bold;
}

ul, li {
    list-style-type: none;
}

.history {
    font-size: 0.5em;
}

img.fotografia {
    width: 120px;
    border-radius: 25px;
}

.mapa_seguimiento {
    width: 100%;
    height: 600px;
}

.tabla_posiciones {
    height: 600px;
    overflow: auto;
}

.geo_aclaracion {
    font-size: 0.8em;
}

.permiso {
    margin: auto;
    margin-top: 25px;
    border: solid 1px black;
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 15px;
    text-align: justify;
    font-weight: normal;
}

.permiso .cuerpo {
    padding: 15px;
}
/* Reportes */

.filter_name {
    font-weight: bold;
}

ul, li {
    list-style-type: none;
}

.history {
    font-size: 0.5em;
}

img.fotografia {
    width: 120px;
    border-radius: 25px;
}

.mapa_seguimiento {
    width: 100%;
    height: 600px;
}

.tabla_posiciones {
    height: 600px;
    overflow: auto;
}

.geo_aclaracion {
    font-size: 0.8em;
}

.permiso {
    margin: auto;
    margin-top: 25px;
    border: solid 1px black;
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 15px;
    text-align: justify;
    font-weight: normal;
}

.permiso .cuerpo {
    padding: 15px;
}