{% load operadores_tags %}
{% block body_block %}
    <div class="info_user card" style="text-align: center;">
        <div class="card-header bg-warning">
            {% ct_get_operador request as operador %}
            <p><b>{{operador.apellidos}}, {{operador.nombres}}</b></p>
        </div>
        <div class="card-body">
            <p>
            {% if operador.tipo_doc == 1 %}
                <b>C.I. :
            {% elif operador.tipo_doc == 2 %}
                <b>D.N.I. :
            {% elif operador.tipo_doc == 3 %}
                <b>L.C. :
            {% elif operador.tipo_doc == 4 %}
                <b>L.E. :
            {% else %}
                <b>PASSPORTE :
            {% endif %}
            </b> {{operador.num_doc}}</p>
            <p><b>Usuario:</b> {{request.user.username}}</b></p>
        </div>
        <div class="card-footer bg-secondary">
            <a class="btn btn-outline-primary" href="{% url 'core:home' %}">Volver al Menú Principal</a>
        </div>
    </div>
    
{% endblock %}
