{% extends 'base_usuarios.html' %}

{% load adminusers_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Listado de Usuarios: <b>{{app_name}}</b></h1>
                </div>
                <div class="row">
                <p style="float:right;">
                        {% if perms.usuarios.operadores %}
                            <a class="btn btn-outline-info" href="{% url 'usuarios:crear_usuario' %}">
                                Crear Usuario
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                            </a>
                        {% endif %}
                    </p><br><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Usuario</th>
                                    <th>Num Documento</th>
                                    <th>Operador</th>
                                    <th>Nivel Autorizacion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operador in usuarios %}
                                    <tr class="fila_usuario">
                                        <td>{{operador.usuario.username}}</td>
                                        <td>{{operador.num_doc}}</td>
                                        <td>
                                            {{operador.apellidos}}, {{operador.nombres}}
                                        </td>
                                        <td>{{operador.get_nivel_acceso_display}}</td>
                                        <td>{{operador.telefono}}</td>
                                        <td>{{operador.email}}</td>
                                        <td><!-- Icono de Activo -->
                                            {% if operador.usuario.is_active %}
                                                <b style="color:green;">Activo</b>
                                            {% else %}
                                                <b style="color:red;">Inactivo</b>
                                            {% endif %}
                                        </td>
                                        <td><!-- Acciones -->
                                            <a class="nolink" href="{% url 'usuarios:modificar_usuario' operador_id=operador.id %}">
                                                <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                                Modificar
                                            </a><br>
                                            {% if operador.usuario %}
                                                <a class="nolink" href="{% url 'usuarios:cambiar_password' operador_id=operador.id %}">
                                                    <img class="icons" src="/static/admin/img/icon-alert.svg" alt="Cambiar contraseña">
                                                    Cambiar Clave
                                                </a><br>
                                                {% if operador.usuario.is_active %}
                                                    <a class="nolink" href="{% url 'usuarios:desactivar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                                        Desactivar
                                                    </a><br>
                                                {% else %}
                                                    <a class="nolink" href="{% url 'usuarios:activar_usuario' operador_id=operador.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-yes.svg" alt="Activar">
                                                        Activar
                                                    </a>
                                                {% endif %}

                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}