<header class="bg-primary text-white text-center" style="padding-top: -100px;">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="../../../../static_source/assets/img/frailePintado.png" alt="" />

    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">SISTEMA INTEGRAL DE RENTAS</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-3">Municipalidad de Fraile Pintado</p>
  </div>
</header>
<!-- Menu Principal -->
<div class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Secciones</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Grid Items-->
    <div class="row">
      <!-- Item 1-->
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Rentas</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/game.png" alt="" />
          </a>
        </div>
      </div>

      <!-- Item 2-->
      <div class="col-md-6 col-lg-4 mb-5">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Comercio</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/cabin.png" alt="" />
          </a>
        </div>
      </div>
      <!-- Item 3-->
      <div class="col-md-6 col-lg-4 mb-5">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Bromatología</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/circus.png" alt="" />
            </a>
        </div>
      </div>
      <!-- Item 4-->
      <div class="col-md-6 col-lg-4 mb-5">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contribuyentes</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/cake.png" alt="" />
          </a>
        </div>
      </div>
      <!-- Item 5-->
      <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Obras Públicas</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/safe.png" alt="" />
          </a>
        </div>
      </div>
      <!-- Item 6-->
      <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Usuarios</h2>
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <a href="#">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-sign-in-alt fa-3x"></i></div>
          <img class="img-fluid" src="../../../../static_source/assets/img/portfolio/usuarios.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
