{% load static %}
{% load form_tags %}

{% block custom_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}">

{% endblock %}

{% block body_block %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    
                    {% abrir_alineado form field as abrir %}
                    {% if abrir %}
                        <div class="row">
                    {% endif %}

                        {% calcular_ancho form field as ancho %}
                        <div class="col-sm-{{ancho}} no-padding enlinea">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% cerrar_alineado form field as cerrar %}
                    {% if cerrar %}
                        </div>
                    {% endif %}
                
                {% endfor %}
                <input type="button" value="Cancelar" onclick="history.back()"> 
                <button class="btn btn-primary" type="submit">{{boton}}</button>
            </form>
        </section>
    </section>
{% endblock %}

