{% extends 'sistema/base.html' %}

{% load static %}

{% block body_block %}

<header class="bg-primary text-white text-center" style="padding-top: -100px;">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/frailePintado.png' %}" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">SISTEMA INTEGRAL DE RENTAS</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-3">Municipalidad de Fraile Pintado</p>
    </div>
</header>
<!-- Menu Principal -->
{% include 'menu_principal.html' %}

{% endblock %}
