/* You can add global styles to this file, and also import other style files */
@import url('../static_source/css/ardistro/styles.css');
/*@import url('../static_source/css/ardistro/user.css');*/
/*@import url('../static_source/css/bootstrap-4-3-1/bootstrap-grid.css');*/
/*@import url('../static_source/css/bootstrap-4-3-1/bootstrap-reboot.css');*/
/*@import url('../static_source/css/bootstrap-4-3-1/bootstrap.css');*/
@import url('../static_source/css/admin.css');
/*@import url('../static_source/css/base.css');*/
@import url('../static_source/css/bootstrap.css');
@import url('../static_source/css/ckeditor.css');
/*@import url('../static_source/css/colorbox_style.css');*/
@import url('../static_source/css/constantes.css');
/*@import url('../static_source/css/ctools.css');*/
@import url('../static_source/css/date.css');
@import url('../static_source/css/datepicker.css');
@import url('../static_source/css/field.css');
@import url('../static_source/css/generic_form.css');
@import url('../static_source/css/informacion.css');
@import url('../static_source/css/inicio.css');
@import url('../static_source/css/menu_botones.css');
@import url('../static_source/css/node.css');
@import url('../static_source/css/onecol.css');
@import url('../static_source/css/overrides.css');
@import url('../static_source/css/panels.css');
/*@import url('../static_source/css/style_system.css');*/
@import url('../static_source/css/styles.css');
@import url('../static_source/css/views.css');
@import url('../static_source/css/widgets.css');

/*@import url('../static_source/js/bootstrap337.js');*/
/*@import url('../static_source/js/colorbox.js');*/
/*@import url('../static_source/js/colorbox_style.js');*/
/*@import url('../static_source/js/drupal.js');*/
/*@import url('../static_source/js/jquery.colorbox.js');*/
/*@import url('../static_source/js/jquery.dataTables.js');*/
/*@import url('../static_source/js/jquery.datetimepicker.full.min.js');*/
/*@import url('../static_source/js/jquery.extend-3.4.0.js');*/
/*@import url('../static_source/js/jquery.once.js');*/
/*@import url('../static_source/js/jquery-1-10-2.js');*/
/*@import url('../static_source/js/jquery-3.4.1.min.js');*/
/*@import url('../static_source/js/jquery-3-4-1.js');*/
/*@import url('../static_source/js/jquery-ui-1.12.1.js');*/
/*@import url('../static_source/js/lang.js');*/
/*@import url('../static_source/js/popups.js');*/
/*@import url('../static_source/js/scripts.js');*/
/*@import url('../static_source/js/tw.js');*/
/*@import url('../static_source/js/views-bootstrap-carousel.js');*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
