{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "sistema/head.html" %}
        {% block extra_css %}
            <!-- Aqui se ingresaran css especificos de cada pagina -->
        {% endblock %}
        {% block meta_tags %}
            <!-- Tags especificos de cada pagina -->
        {% endblock %}
    </head>

    <body style="padding-top: 100px;">
        {% include "sistema/header.html"%}

        {% block body_block %}
            <!-- BODY -->
        {% endblock %}

        {% include "sistema/footer.html"%}
    </body>

    {% include "sistema/scripts.html"%}
    {% block extra_scripts %}
        <!-- Aqui se ingresaran scripts especificos de cada pagina -->
    {% endblock %}
</html>
