{% load static %}
{% block content %}

<footer class="footer ">
    <div class="footer-municipio container">
        <div class="region region-footer">
            <section id="block-panels-mini-menu-pie" class="block block-panels-mini clearfix">
                <div class="panel-display panel-1col clearfix" id="mini-panel-menu_pie">
                    <div class="panel-panel panel-col">
                        <div>
                            <div class="panel-pane pane-separador"  >
                                <div class="pane-content">
                                    <div class="separator clearfix"></div>
                                </div>
                            </div>
                            <div class="panel-separator"></div>
                            <div class="panel-pane pane-texto col-md-4 col-sm-6"  >
                                <div class="pane-content">
                                    <div class=""><p>
                                        <img alt="" height="100" src="{% static 'img/logoblanco.png' %}" width="270" /></p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-separator"></div>
                            <div class="panel-pane pane-texto col-md-4 col-sm-6 menupie arg-shortcut"  >
                                <div class="pane-content">
                                    <div class="">
                                        <p><strong>Municipio de Fraile Pintado</strong></p>
                                        <p>&nbsp;F Argañaraz 143 esquina Gorriti, CP Y4506</p>
                                        <p><strong>Teléfono:</strong> 03886 48 0409</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-separator"></div>
                            <div class="panel-pane pane-texto col-md-4 col-sm-6"  >
                                <div class="pane-content">
                                    <div class="">
                                        <p>Ciudad Fraile Pintado&nbsp;| <strong>Provincia de Jujuy</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-separator"></div>
                            <div class="panel-pane pane-block pane-widgets-s-base col-md-4 col-sm-6 pane-widgets col-md-10"  >
<!--                                <h4 class="pane-title">     Redes sociales    </h4>-->
<!--                                <div class="pane-content">-->
<!--                                    <a href="https://www.facebook.com/PrensaMunicipalidadDeFrailePintado/"-->
<!--                                       title="Visitar Facebook, prensa Fraile Pintado en Facebook"-->
<!--                                       target="_blank"><img src="/sites/all/libraries/socialmedia/icons/ardistro/32x32/facebook.png"-->
<!--                                                            alt="Facebook icon"></a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
{% endblock %}
