{% load static %}
{% block content %}   
<meta charset="utf-8">

    <title>{% block title %}S.I.R. | Sistema Integral de Rentas{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    {% if refresh %}
        <meta http-equiv="refresh" content="60" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4-3-1/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/informacion.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/date.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/field.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/node.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/views.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ckeditor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorbox_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ctools.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/panels.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/onecol.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/overrides.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ardistro/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ardistro/user.css' %}">

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;q2rici" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;q2rici" media="all" />
<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.css" media="all" />

{% endblock %}
