{% load static %}
{% block content %}

    <script type="text/javascript" src="{% static 'js/bootstrap-4-3-1/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3-4-1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popups.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.extend-3.4.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.once.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/drupal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap337.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lang.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.colorbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colorbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colorbox_style.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tw.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/views-bootstrap-carousel.js' %}"></script>

    <script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-103330086-43", {"cookieDomain":"auto"});ga("send", "pageview");</script>
    <script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"ardistro","theme_token":"UsxcHXK6TSDgPtd9XRdri_q4LqldD_c3kGi5sn0VM2g","js":{"sites\/all\/themes\/contrib\/bootstrap\/js\/bootstrap.js":1,"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery-extend-3.4.0.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"\/\/cdn.jsdelivr.net\/bootstrap\/3.3.7\/js\/bootstrap.js":1,"public:\/\/languages\/es_aimPooJVWOEaN4ddOO6wt8NFoUqGUuTcRrWjfhsjtas.js":1,"sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js":1,"sites\/all\/modules\/colorbox\/js\/colorbox.js":1,"sites\/all\/modules\/colorbox\/styles\/default\/colorbox_style.js":1,"sites\/all\/modules\/custom\/badistro_bloques\/js\/fb-sdk.js":1,"sites\/all\/modules\/custom\/badistro_bloques\/js\/tw.js":1,"sites\/all\/modules\/views_bootstrap\/js\/views-bootstrap-carousel.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1},"css":{"modules\/system\/system.base.css":1,"sites\/all\/modules\/contrib\/date\/date_api\/date.css":1,"sites\/all\/modules\/contrib\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/colorbox\/styles\/default\/colorbox_style.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/panels\/css\/panels.css":1,"sites\/all\/themes\/custom\/ardistro\/layouts\/inicio\/inicio.css":1,"sites\/all\/modules\/panels\/plugins\/layouts\/onecol\/onecol.css":1,"sites\/all\/modules\/widgets\/widgets.css":1,"https:\/\/fonts.googleapis.com\/icon?family=Material+Icons":1,"\/\/cdn.jsdelivr.net\/bootstrap\/3.3.7\/css\/bootstrap.css":1,"sites\/all\/themes\/contrib\/bootstrap\/css\/3.3.7\/overrides.min.css":1,"sites\/all\/themes\/custom\/ardistro\/css\/style.css":1,"sites\/all\/themes\/custom\/ardistro\/css\/user.css":1}},"colorbox":{"opacity":"0.85","current":"{current} of {total}","previous":"\u00ab Prev","next":"Next \u00bb","close":"Close","maxWidth":"98%","maxHeight":"98%","fixed":true,"mobiledetect":true,"mobiledevicewidth":"480px"},"jcarousel":{"ajaxPath":"\/?q=jcarousel\/ajax\/views"},"viewsBootstrap":{"carousel":{"1":{"id":1,"name":"listado_de_contenido","attributes":{"interval":10000,"pause":"hover"}}}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip","trackColorbox":1},"urlIsAjaxTrusted":{"\/":true},"bootstrap":{"anchorsFix":"0","anchorsSmoothScrolling":"0","formHasError":1,"popoverEnabled":1,"popoverOptions":{"animation":1,"html":0,"placement":"right","selector":"","trigger":"click","triggerAutoclose":1,"title":"","content":"","delay":0,"container":"body"},"tooltipEnabled":1,"tooltipOptions":{"animation":1,"html":0,"placement":"auto left","selector":"","trigger":"hover focus","delay":0,"container":"body"}}});</script>


{% endblock %}
