{% extends 'base_contribuyentes.html' %}

{% load adminusers_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Listado de Contribuyentes: <b>{{app_name}}</b></h1>
                </div>
                <div class="row">
                <p style="float:right;">
                        {% if perms.usuarios.operadores %}
                            <a class="btn btn-outline-info" href="{% url 'contribuyentes:cargar_contribuyente' %}">
                                Cargar Contribuyente
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Cargar Nuevo Contribuyente">
                            </a>
                        {% endif %}
                    </p><br><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Apellido</th>
                                    <th>Nombres</th>
                                    <th>Tipo de Doc.</th>
                                    <th>Num. Doc.</th>
                                    <th>Fecha de Nac.</th>
                                    <th>Nacionalidad</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in contribuyentes %}
                                    <tr class="fila_usuario">
                                        <td>{{x.apellido}}</td>
                                        <td>{{x.nombre}}</td>
                                        <td>{{x.tipoDoc}}</td>
                                        <td>{{x.numDoc}}</td>
                                        <td>{{x.fecNac}}</td>
                                        <td>{{x.nacionalidad}}</td>
                                        <td><!-- Icono de Activo -->
                                            {% if x.estado == 1 %}
                                                <b style="color:green;">Activo</b>
                                            {% else %}
                                                <b style="color:red;">Baja</b>
                                            {% endif %}
                                        </td>
                                        <td><!-- Acciones -->
                                            <a class="nolink" href="{% url 'contribuyentes:mod_contribuyente' contribuyente_id=x.id %}">
                                                <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                                Modificar
                                            </a><br>
                                                {% if x.estado == 1 %}
                                                    <a class="nolink" href="{% url 'contribuyentes:baja_contribuyente' contribuyente_id=x.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                                        Dar de Baja
                                                    </a><br>
                                                {% else %}
                                                    <a class="nolink" href="{% url 'contribuyentes:activar_contribuyente' contribuyente_id=x.id %}">
                                                        <img class="icons" src="/static/admin/img/icon-yes.svg" alt="Activar">
                                                        Activar
                                                    </a>
                                                {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}