{% extends 'sistema/base.html' %}

{% load static %}

{% block body_block %}
<section class="resumen">
    <section class="informacion_basica">
        <div class="container">
            <div class="row">   
                <div class="col-md-8 align-self-center offset-1">     
                    <h1>Menu Contribuyentes:</h1>
                </div>
                <div class="col-md-3">
                    <br>
                    {% include 'info_user.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <ul class="menu_botones">
                        <li><a href="{% url 'contribuyentes:lista_contribuyentes'  %}">Lista de Contribuyentes</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
