/*shotcuts*/
.shortcuts-section {
  margin: 15px 0;
  background: red; }

.shorcut-font-style, .pane-shortcut, .pane-shortcut a, .shortcut-title {
  /*text-transform: uppercase;*/
  color: grey;
  font-weight: 200; }

.arg-shortcut {
  margin-bottom: 15px; }

.shortcut {
  color: #FFF;
  margin: 0 auto;
  width: auto;
  height: 100px;
  border-radius: 0;
  display: block;
  text-align: center; }

.shortcut .glyphicon {
  top: 28%; }

.shortcut-transparent {
  background-color: transparent; }

.shortcuts-section .glyphicon {
  padding-top: 30%;
  font-size: 48px;
  padding-left: 28%; }

.shortcuts-section p {
  color: #888; }

/**/
.shorcut-icon {
  border: 3px solid #47cfc8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 5em;
  box-sizing: border-box; }

.shortcut-title {
  font-size: 18px;
  margin-top: 2px;
  line-height: 18px; }

.shortcut-base {
  color: #47cfc8; }

.shortcut-uno {
  color: #23ccc7; }

.shortcut-dos {
  color: #dfbd42; }

.shortcut-tres {
  color: #e95728; }

.shortcut-cuatro {
  color: #b077d8; }

.shortcut-cinco {
  color: #2775a3; }

.shortcut-seis {
  color: #039cdf; }

.shortcut-siete {
  background-color: #ddd; }

/* footer */
footer {
  background: #fff;
  margin-top: 100px !important;
  color: #888;
  background-color: #333;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.logo-footer {
  padding: 0 0 0 15px; }

footer p {
  font-size: 14px;
  color: #bfbfbf;
  line-height: normal; }

footer a {
  font-size: 14px;
  color: #fff !important; }

.footer-inside {
  line-height: 0; }

footer .links-rel ul {
  list-style: none;
  margin: 0;
  padding: 0; }

footer .links-rel li {
  margin: 15px 0; }

footer .links-rel li:nth-child(1) {
  margin-top: 0; }

/* Pie municipio */
.footer-municipio {
  /*padding-top: 30px*/ }

/* Pie institucional */
.footer-institucional {
  border-top: 1px solid #ddd;
  padding: 15px 0px 50px 0px;
  background: #212121;
  margin-top: 20px; }
  .footer-institucional .logo-pais-digital,
  .footer-institucional .logo-ministerio-modernizacion {
    display: block; }
    .footer-institucional .logo-pais-digital img,
    .footer-institucional .logo-ministerio-modernizacion img {
      height: 60px; }
  .footer-institucional .logo-ministerio-modernizacion {
    text-align: right; }

@media (max-width: 768px) {
  /* Pie institucional */
  .footer-institucional .logo-pais-digital img,
  .footer-institucional .logo-ministerio-modernizacion img {
    text-align: center;
    margin: 15px auto;
    display: block; } }

/* Pie de municipio */
.view-content .logo-municipio,
.view-content .info-municipio {
  border-right: 1px solid #ddd; }

.view-content .logo-municipio,
.view-content .info-municipio,
.view-content .telefono_municipio {
  float: left;
  width: 33.33333%;
  padding: 5px 30px;
  box-sizing: border-box; }
  .view-content .logo-municipio .span,
  .view-content .info-municipio .span,
  .view-content .telefono_municipio .span {
    display: block; }
  .view-content .logo-municipio .img-thumbnail,
  .view-content .info-municipio .img-thumbnail,
  .view-content .telefono_municipio .img-thumbnail {
    border: none;
    padding: 0;
    max-height: 60px;
    width: auto; }

.view-content .logo-municipio {
  text-align: right; }

.view-content .info-municipio {
  font-size: 110%;
  text-align: center; }

@media (max-width: 768px) {
  /* Pie de municipio */
  .view-content .logo-municipio,
  .view-content .info-municipio {
    border-right: none; }
  .view-content .logo-municipio,
  .view-content .info-municipio,
  .view-content .telefono_municipio {
    float: none;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box; }
    .view-content .logo-municipio .span,
    .view-content .info-municipio .span,
    .view-content .telefono_municipio .span {
      display: block; }
    .view-content .logo-municipio .img-thumbnail,
    .view-content .info-municipio .img-thumbnail,
    .view-content .telefono_municipio .img-thumbnail {
      border: none;
      padding: 0;
      max-height: 60px;
      width: auto; }
  .view-content .logo-municipio {
    text-align: center;
    margin-bottom: 15px; }
  .view-content .info-municipio {
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px; }
  .view-content .telefono_municipio {
    text-align: center;
    margin-bottom: 15px; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* Pie de municipio */
  .view-content .logo-municipio,
  .view-content .info-municipio {
    border-right: none; }
  .view-content .logo-municipio,
  .view-content .info-municipio,
  .view-content .telefono_municipio {
    float: none;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box; }
    .view-content .logo-municipio .span,
    .view-content .info-municipio .span,
    .view-content .telefono_municipio .span {
      display: block; }
    .view-content .logo-municipio .img-thumbnail,
    .view-content .info-municipio .img-thumbnail,
    .view-content .telefono_municipio .img-thumbnail {
      border: none;
      padding: 0;
      max-height: 60px;
      width: auto; }
  .view-content .logo-municipio {
    text-align: center;
    margin-bottom: 15px; }
  .view-content .info-municipio {
    font-size: 110%;
    text-align: center;
    margin-bottom: 15px; }
  .view-content .telefono_municipio {
    text-align: center;
    margin-bottom: 15px; } }

/* Pie institucional */
.footer-institucional {
  border-top: 1px solid #ddd;
  padding: 15px 0px 60px 0px;
  margin-top: 30px; }
  .footer-institucional .logo-pais-digital img,
  .footer-institucional .logo-ministerio-modernizacion img {
    height: 60px; }

#badistro-carousel {
  margin-top: 0; }
  #badistro-carousel .carousel-caption {
    text-align: left;
    right: 0;
    /* right: 20%; */
    padding-bottom: 0;
    background: #2aa09a;
    height: 100%;
    width: 30%;
    bottom: 0;
    padding: 15px;
    left: initial;
    right: 0; }
    #badistro-carousel .carousel-caption > h3,
    #badistro-carousel .carousel-caption > p {
      text-shadow: none; }
    #badistro-carousel .carousel-caption > h3 {
      color: white; }
    #badistro-carousel .carousel-caption > p {
      font-size: 1.1em; }
  #badistro-carousel .img-thumbnail {
    padding: 0; }

.separator-top {
  clear: both;
  height: 40px; }

/* Separador */
.separator {
  clear: both;
  height: 30px;
  width: 100%; }
  .separator.linea {
    height: auto;
    padding: 30px 0; }
    .separator.linea hr {
      display: block;
      margin: 0 !important;
      padding: 0 !important;
      height: 1px;
      background: #ddd; }
  .separator.spaceless {
    display: block;
    clear: both;
    margin: 0 !important;
    padding: 0 !important;
    height: 0px;
    background: transparent; }

/* Footer Redes sociales */
.mini-social,
#block-menu-menu-redes-sociales ul.menu.nav {
  margin: 0;
  padding: 0; }

.mini-social li,
#block-menu-menu-redes-sociales ul.menu.nav li {
  display: inline;
  margin: 0;
  padding: 0; }

.mini-social a,
#block-menu-menu-redes-sociales ul.menu.nav li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Facebook {
  background-image: url(../img/social-fb.png);
  background-image: url(../img/social-fb.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Twitter {
  background-image: url(../img/social-tw.png);
  background-image: url(../img/social-tw.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Google {
  background-image: url(../img/social-gp.png);
  background-image: url(../img/social-gp.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Youtube {
  background-image: url(../img/social-yt.png);
  background-image: url(../img/social-yt.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-Flickr {
  background-image: url(../img/social-fl.png);
  background-image: url(../img/social-fl.svg), none;
  background-size: cover;
  background-color: transparent; }

#block-menu-menu-redes-sociales ul.menu.nav li a.menu-redes-sociales-RSS {
  background-image: url(../img/social-rss.png);
  background-image: url(../img/social-rss.svg), none;
  background-size: cover;
  background-color: transparent; }

.linkredes {
  padding: 7px 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  line-height: 33px;
  color: #797676; }

.linkredes .titulo {
  font-size: 15px;
  padding-top: 5px; }

/* NAVBAR modificado */
.navbar {
  background: transparent;
  margin-bottom: 5px; }

.navbar-header {
  float: none;
  background: #ffffff; }

.navbar-default {
  background: #ffffff;
  color: #fff; }
  .navbar-default .navbar-nav {
    width: 100%;
    padding: 0 15px;
    background: #47cfc8;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
    .navbar-default .navbar-nav li a {
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      /*text-transform: uppercase;*/
      font-size: 16px; }
      .navbar-default .navbar-nav li a:hover {
        background: #34c8c1;
        color: #fff;
        -webkit-transition: all 0.07s ease-out;
        -moz-transition: all 0.07s ease-out;
        -o-transition: all 0.07s ease-out;
        transition: all 0.07s ease-out; }
    .navbar-default .navbar-nav .dropdown-menu > li > a {
      padding: 3px 15px !important;
      color: black; }
    .navbar-default .navbar-nav > .active {
      color: #fff;
      background-color: #5bd4ce; }
      .navbar-default .navbar-nav > .active > a {
        background: #4fd1ca;
        color: #fff; }
        .navbar-default .navbar-nav > .active > a:hover {
          background: #34c8c1; }
        .navbar-default .navbar-nav > .active > a:focus {
          background: #34c8c1; }

.navbar-toggle {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: white;
  border-color: #43cec7; }

@media (max-width: 767px) {
  #block-widgets-s-socialmedia-profile-default {
    display: none; }
  .navbar-default {
    padding: 15px;
    margin: 0; }
  .navbar-collapse {
    margin: 0;
    padding: 0; } }

@media (max-width: 767px) {
  /*/////////////////

MENU GRIS

/////////////////*/
  ul.menu.nav.navbar-nav {
    margin: 0;
    padding: 0;
    background: gray; }
  .navbar-default .navbar-nav > .active > a {
    background: #717171; }
  .navbar-default .navbar-nav > .active > a:hover {
    background: #717171;
    color: white; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #6d6d6d; }
  .navbar-default .navbar-nav > .active {
    background-color: #9E9E9E; }
  .navbar-default .navbar-nav li a:hover {
    background-color: rgba(101, 101, 101, 0.26); }
  .navbar-default .navbar-nav > .active > a:focus {
    background: #717171;
    color: white; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white; }
  ul.dropdown-menu {
    background-color: gray; }
  li.expanded.dropdown {
    background-color: #7b7b7b; }
  section .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: rgba(103, 103, 103, 0.3); } }

/*

////////

<768

////////

*/
.navbar-default .navbar-nav > .active > a:hover {
  color: white; }

.navbar-default .navbar-nav > .active > a:focus {
  color: white; }

/*

/////////////////

/MENU GRIS

/////////////////

*/
/* Imagen destacada Home */
.imagen-destacada {
  box-sizing: border-box;
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden; }
  .imagen-destacada .img-container {
    height: 400px;
    overflow: hidden; }
  .imagen-destacada .descripcion {
    padding: 15px;
    background: transparent;
    color: #fff; }
    .imagen-destacada .descripcion h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
      font-weight: 600;
      text-transform: uppercase; }
    .imagen-destacada .descripcion p {
      font-size: 1.1em; }

@media (max-width: 768px) {
  .imagen-destacada .img-container {
    height: auto; } }

/*
Agregado para las columnas de bootstrap.
Grilla de 10 columnas.
*/
@media (min-width: 992px) {
  .ucol-md-1, .ucol-md-2, .ucol-md-3, .ucol-md-4, .ucol-md-5, .ucol-md-6, .ucol-md-7, .ucol-md-8, .ucol-md-9 {
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
  .ucol-md-10 {
    width: 100%;
    clear: both; }
  .ucol-md-1 {
    width: 10%; }
  .ucol-md-2 {
    width: 20%; }
  .ucol-md-3 {
    width: 30%; }
  .ucol-md-4 {
    width: 40%; }
  .ucol-md-5 {
    width: 50%; }
  .ucol-md-6 {
    width: 60%; }
  .ucol-md-7 {
    width: 70%; }
  .ucol-md-8 {
    width: 80%; }
  .ucol-md-9 {
    width: 90%; } }

.tramite_tipo {
  background-color: #f6f6f6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 4px;
  margin-top: 36px; }

.tramite_tipo span {
  font-size: 26px;
  margin-left: 8px; }

.tramite_tipo img {
  border: none !important; }

.pane-node-field-tramite-costo {
  background-color: #f6f6f6;
  padding: 12px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 1px solid #e8e8e8;
  margin-top: 12px; }

.pane-node-field-tramite-costo h2 {
  margin-top: 0px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: #ccc;
  line-height: 42px;
  font-weight: bold; }

.pane-node-field-tramite-costo div.pane-content .field .field-items .field-item {
  text-align: center;
  color: #476a2d;
  font-weight: bold;
  font-size: 28px;
  color: #ff8915; }

.linklateral {
  background-color: #f6f6f6;
  padding: 12px;
  margin-top: 12px; }

.linklateral h2 {
  margin-top: 0px;
  font-size: 20px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc; }

.pane-node-field-requisitos {
  background-color: #F5F2EC;
  padding: 22px;
  border-radius: 12px; }

.tramite_tipo {
  background-color: #f6f6f6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 4px;
  margin-top: 36px; }

.tramite_tipo img {
  border: none !important;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.tramite_tipo span {
  font-size: 26px;
  margin-left: 8px; }

.pane-node-field-requisitos {
  margin-top: 30px;
  background-color: #F5F2EC;
  padding: 22px;
  border-radius: 12px; }

.titulo-tramite {
  border-bottom: 1px dotted gray;
  font-size: 18px;
  color: #000; }

.titulo-tramite > a {
  color: #666;
  text-decoration: none; }

.altura-tramite {
  height: 90px;
  margin-top: 10px; }

.field-name-field-costo-descripcion {
  color: #888;
  margin-top: 7px;
  border-top: 1px dotted gray;
  padding-top: 12px;
  font-size: 16px; }

.field-name-field-costo-valor {
  font-size: 26px;
  margin-bottom: 20px;
  color: #777777;
  font-weight: 600;
  background: #f5f2ec;
  padding-left: 10px; }

.galleryImages .pane-content .field-item {
  float: left;
  margin: 0px 8px 8px;
  min-height: 220px; }

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn {
  font-family: inherit; }

.bg-grey {
  background-color: #fff; }

.main-container.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.logo.navbar-btn {
  padding: 15px 0; }

/* Modificadores para las pastillas de noticias*/
.u-thumbnail.thumbnail {
  padding: 0;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6;
  font-family: inherit;
  border: none; }
  .u-thumbnail.thumbnail .img-thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }

.mm-box {
  background-color: #47cfc8;
  font-size: 1.5em;
  padding-left: 10px;
  line-height: 1.6;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* Separador */
.separator.linea {
  height: auto;
  padding: 30px 0; }
  .separator.linea hr {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    height: 1px;
    background: #ddd; }

.pane-node-field-paginas-relacionadas h2 {
  font-size: 20px; }

.modal-content {
  text-align: center !important; }

.field-name-field-links-relacionados .field-item, .field-name-field-paginas-relacionadas .field-item {
  border-bottom: 2px solid #e4e4e4;
  padding: 7px  12px;
  margin-bottom: 3px; }

.pane-node-field-paginas-relacionadas h2 {
  font-size: 20px;
  background-color: rgba(230, 228, 215, 0.38);
  padding: 7px 12px;
  margin: 0px 0px 7px 0px;
  border-radius: 6px; }

.pane-node-field-links-relacionados h2 {
  font-size: 20px;
  background-color: rgba(230, 228, 215, 0.38);
  padding: 7px 12px;
  margin: 0px 0px 7px 0px;
  border-radius: 6px; }

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  /* position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);*/
  position: absolute !important;
  top: 40% !important;
  /* left: 15px!important; */
  width: 40px !important;
  height: 40px !important;
  /* margin-top: -20px; */
  margin: 7px;
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  /* background: #222222; */
  border: 3px solid #ffffff;
  /* -webkit-border-radius: 23px; */
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5 !important;
  filter: alpha(opacity=50); }

.carousel-control.right {
  right: 1px;
  left: auto; }

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none; }

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px; }

.carousel-indicators .active {
  background-color: #fff; }

.carousel-caption {
  position: absolute;
  right: 50px !important;
  bottom: 20px !important;
  left: 50px !important;
  padding: 1px 0px 12px !important;
  background: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px !important;
  text-shadow: none !important;
  color: #0D0D0D !important; }

.carousel-caption a {
  color: #252222 !important;
  font-size: 18px !important; }

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff; }

.carousel-caption h4 {
  margin: 0 0 5px; }

.carousel-caption p {
  margin-bottom: 0; }

.colorfdo {
  background-color: #4ac2d4; }

.bloque-novedad {
  margin-bottom: 20px;
  /*background: #f3f3f3;*/
  border-bottom: 1px dotted #ffffff;
  padding-bottom: 40px;
  height: 310px !important; }
  .bloque-novedad a {
    font-size: 20px;
    color: #505050; }
    .bloque-novedad a .img-thumbnail {
      padding: 0px;
      line-height: 1.42857143;
      /* background-color: #ffffff; */
      border: 0px solid #ecf0f1;
      border-radius: 0px; }
  .bloque-novedad p {
    margin: 10px 0 2px;
    color: #505050; }

.minipie {
  background-color: #767575; }

.footer-municipio {
  color: #FFFFFF; }
  .footer-municipio .nav > li > a {
    color: white;
    font-size: 13px;
    line-height: 14px;
    font-weight: 300 !important;
    padding: 7px 0px;
    letter-spacing: 0.4px; }
  .footer-municipio .nav > li > a:hover {
    background-color: #545454; }
  .footer-municipio .nav > li > a:focus {
    background-color: #47cfc8; }

.carousel-control .icon-prev {
  margin-top: -16px !important;
  width: 26px !important; }

.carousel-control .icon-next {
  width: 26px !important;
  margin-top: -16px !important; }

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 2px 10px;
  /* background-color: #00a1b4; */
  border: 1px solid transparent;
  border-radius: 9px; }

/*
	.block-panels-mini .nav
	{    color: white;
    font-size: 14px;
    font-weight: 300 !important;
    line-height: 3px;
    padding: 10px 2px;

		}*/
.bg-grey .nav > li > a {
  border-bottom: 1px #d4cccc dotted !important;
  color: #777777 !important; }

.region-search {
  margin-top: 20px;
  /*<!--(cambiar en todos//)-->*/
  margin-right: 0px;
  text-align: right;
  vertical-align: middle; }

@media (max-width: 980px) {
  .region-search {
    display: none; } }

.ic_intern {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  font-size: 30px !important;
  text-align: center; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300 !important;
  line-height: 1.3 !important; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #e6e6e6 !important;
  outline: 0; }

.tablaturismo {
  background: #f5f5f5; }

table.tablaturismo td,
table.tablaturismo th {
  padding: 7px !important;
  border-bottom: 1px dotted #787878;
  vertical-align: top; }

.txtmail {
  font-size: 12px; }

.btnBuscador {
  padding: 7px 12px; }

.btnBuscador:hover span {
  color: #060606; }

.btn-primary {
  background-color: #47cfc8;
  border-color: #47cfc8; }
  .btn-primary:hover {
    background-color: #34c8c1;
    border-color: #34c8c1; }

.pager {
  clear: both;
  background: rgba(158, 158, 158, 0.13);
  padding: 7px;
  border-top: 1px dotted gray; }

.pager li > a {
  background-color: transparent !important; }

.tablagral {
  background: #f5f5f5; }

table.tablagral td,
table.tablagral th {
  padding: 7px !important;
  border-bottom: 1px dotted #787878;
  border-top: 1px dotted #787878;
  vertical-align: top;
  font-size: 16px; }

.tiempo {
  margin: 0pxpx !important;
  /*<!--(cambiar en todos//)-->*/
  /*border-left: 1px #ddd dotted;
    border-right: 1px #ddd dotted;
      width: 200px;
 	  background: #f1f1f1;
      padding-top: 10px;   */ }

.b_buscador {
  margin-top: 3px; }

.b_redes {
  margin: 0px;
  float: right;
  padding-right: 0px;
  text-align: right; }

.footer {
  border-top: 1px solid #FFFFFF !important; }

.colorbox {
  float: left !important;
  margin: 20px 0px 10px 10px;
  height: 100px;
  border-top: 1px dotted GRAY !important;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #ecf0f1;
  padding: 7px; }

@media (max-width: 992px) {
  .b_buscador {
    display: none; } }

@media (max-width: 992px) {
  .tiempo {
    display: none; } }

@media (max-width: 768px) {
  .b_redes {
    display: none; } }

@media (max-width: 992px) and (min-width: 767px) {
  .b_redes {
    margin: 36px 0px; } }

.field .field-label {
  font-weight: bold;
  font-size: 16px !important; }

.table > thead:first-child > tr:first-child > th {
  font-size: 16px !important; }

@media (max-width: 1200px) and (min-width: 990px) {
  .shortcut-title {
    font-size: 16px;
    margin-top: 7px; }
  .shorcut-icon {
    padding: 7px; } }

.view-agenda-cultural .col-md-4 {
  height: 350px !important;
  margin-bottom: 20px;
  background: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted gray; }

.view-agenda-cultural h3 {
  font-size: 22px;
  margin-top: 10px; }

.view-agenda-cultural a {
  color: #525252 !important; }

.pane-node-field-descargas {
  background-color: #f6f6f6;
  padding: 12px;
  margin-top: 12px; }

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.list-inline {
  background: #FFF;
  border-bottom: 1px solid #dadada;
  padding: 0px 0px 20px 0px;
  margin-top: 20px; }

.list-inline a {
  color: #47cfc8;
  font-weight: 600;
  font-size: 16px; }

.text_area_int {
  border-bottom: #47cfc8 1px dotted;
  padding-top: 20px;
  font-size: 14px;
  padding-top: 20px;
  background: #f7f7f7;
  padding: 7px;
  margin-bottom: 30px; }

.alert-default {
  border: 2px solid #47cfc8;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 16px; }

/*//////entidades ////// */
/*
.organizacion img {
    margin-right: auto;
  margin-left: auto;
  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
   }

*/
.organizacion {
  width: 100%;
  padding-bottom: 7px; }

.lg_organizacion {
  padding: 7px !important;
  display: initial; }

.lgcentro {
  margin: 0 auto !important; }

.jcarousel-skin-default .jcarousel-item {
  padding: 0px;
  /* width: 200px;
  height: 150px;
  overflow: hidden;*/
  list-style: none;
  background: #fff none; }

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100%;
  /*height: 180px;*/
  padding: 10px;
  margin: auto;
  border-top: 1px #47cfc8 dotted;
  text-align: -webkit-center; }

/*.img-thumbnail
{ border-radius:0px!important}*/
.logodos {
  margin-bottom: 50px !important; }

.text_area a {
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background: #98e4e0;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase; }

.text_area {
  padding: 2px 7px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  background: #98e4e0;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase; }
.terminos{font-size:16px; text-align:right; font-weight:500; margin-top:14px; height:50px!important; padding-right: 2px;}
.terminos a {color:#0695d6}

@media (max-width: 780px) and (min-width: 400px) {.terminos{text-align:center; padding: 0px; }}