{% extends 'impuestos/base_impuestos.html' %}

{% load adminusers_tags %}

{% block body_block %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Listado de Impuestos: <b>{{app_name}}</b></h1>
                </div>
                <div class="row">
                <p style="float:right;">
                        {% if perms.usuarios.operadores %}
                            <a class="btn btn-outline-info" href="{% url 'comercio:crear_impuestos' %}">
                                Crear Impuesto
                                <img class="icons" src="/static/admin/img/icon-addlink.svg" alt="Crear Nuevo Usuario">
                            </a>
                        {% endif %}
                    </p><br><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Código de Impuesto</th>
                                    <th>Descripción</th>
                                    <th>Ordenanza/Resolución</th>
                                    <th>Fecha de Alta</th>
                                    <th>Fecha de Baja</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for impuesto in impuestos %}
                                    <tr class="fila_usuario">
                                        <td>{{impuesto.codImp}}</td>
                                        <td>{{impuesto.descImp}}</td>
                                        <td>{{impuesto.resImp}}</td>
                                        <td>{{impuesto.fechaImp}}</td>
                                        <td>
                                        {% if impuesto.bajaImp %}
                                        {{impuesto.bajaImp}}
                                        {% else %}
                                         --- 
                                        {% endif %}</td>
                                        <td><!-- Icono de Activo -->
                                            {% if impuesto.estadoImp == 1 %}
                                                <b style="color:green;">Activo</b>
                                            {% else %}
                                                <b style="color:red;">Inactivo</b>
                                            {% endif %}
                                        </td>
                                        <td><!-- Acciones -->
                                            <a class="nolink" href="#">
                                                <img class="icons" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                                Modificar
                                            </a><br>
                                                {% if impuesto.estadoImp == 1 %}
                                                    <a class="nolink" href="#">
                                                        <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Desactivar">
                                                        Desactivar
                                                    </a><br>
                                                {% else %}
                                                    <a class="nolink" href="#">
                                                        <img class="icons" src="/static/admin/img/icon-yes.svg" alt="Activar">
                                                        Activar
                                                    </a>
                                                {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}