.titulo {
  color: #001950;
  font-weight: bold;
  font-size: 20px;
  margin-left: 2rem;
}

.sapce {
  width: 100%;
  margin-bottom: 1.5rem;
}


tr.custom.mat-row {
  height: auto;
.td.custom.mat-cell {
  display: block;
}
.pointer {
  cursor: pointer;
}
}

section.contract-list.main-full-page-content {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  padding: 2rem;
  background-color: #e2e2e2;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: hidden !important;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  /*width: 100%;*/
}

.container {
  display: flex;
  justify-content: center;
}

.table {
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

.mat-table {
  overflow: auto;
  max-height: 100%;
  width: 100%;
}

.th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
//background: #b9c9fe;
  border-top: 1px solid #aabcfe;
  border-bottom: 1px solid #aabcfe;
}

.td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

@media only screen and (max-width: 640px) {
  .container {
    margin: 0;
  }
}

tr.mat-header-row {
  display: flex;
}

tr.mat-row {
  display: flex;
}

.button-kanban {
  text-align: right;
}

.titulo {
  width: 87%;
}

@media screen and (max-width: 960px) {
  .titulo_kanban {
    display: none;
  }
}


/* Column Widths
*/

.mat-header-cell.mat-numIden {
  max-width: 15%;
}

.mat-cell.mat-numIden {
  max-width: 15%;
  text-align: left;
}

.mat-header-cell.mat-column-nombreCliente {
  max-width: 15%;
}

.mat-cell.mat-column-nombreCliente {
  max-width: 15%;
  text-align: left;
}

.mat-header-cell.mat-column-factura {
  max-width: 15%;
}

.mat-cell.mat-column-factura {
  max-width: 15%;
  text-align: left;
}

.mat-header-cell.mat-column-fecha {
  max-width: 15%;
}

.mat-cell.mat-column-fecha {
  max-width: 15%;
  text-align: left;
}

.mat-header-cell.mat-column-link {
  max-width: 15%;
}

.mat-cell.mat-column-link {
  max-width: 15%;
  text-align: left;
}

.mat-header-cell.mat-column-action {
  max-width: 15%;
}

.mat-cell.mat-column-action {
  max-width: 15%;
  text-align: left;
}

.mat-button {
  margin: 0;
  min-width: 0px;
  line-height: 0px;
  padding: 0px;
}

mat-icon {
  margin-right: 10px;
}

.estado_compras {
  /* background-color: #b52b2b; */
  opacity: 1;
  color: #b52b2b;
  cursor: not-allowed;
  pointer-events: none;
  /* border: 1px solid #666 */
}

.boton_activo {
  color: #0885d4 !important;
}

.boton-desactivado {
  color: rgba(206, 198, 198, 0.87);
  pointer-events: none;
}

.observaciones {
  word-wrap: break-word;
  display: block;
  max-width: 350px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.example-full-width {
  width: 100%;
}

.comentarios {
  width: 35%;
}

.mat-card {
  padding: 0px!important;
  border-radius: 10px!important;
}

.icono-user {
  display: flex!important;
  margin: 0px 0px -30px -5px!important;
}

.mat-card-footer {
  display: block;
  margin: 0px 0px 0px 0px;
  text-align: right;
  padding-right: 15px;
}

.card-container {
  text-align: left;
  padding: 15px 15px 10px 15px;
}

.cabecera-tabla {
  position: fixed;
  width: 95%;
  z-index: 1;
  opacity: 1;
  background: white;
}

.mat-card-header {
  display: block;
  padding: 15px 5px 0.5px 5px
}

.ajustar-campo {
  padding-right: 10px;
}

.fecha {
  margin-left: 2rem;
}

.documentoIdentidad {
  margin-left: 3rem;
}

@media only screen and (max-width: 450px) {
  .titulo {
    font-size: 11px;
  }
}

@media only screen and (min-width:451px) and (max-width: 1400px) {
  .documentoIdentidad {
    margin-left: 2rem;
  }
  .fecha {
    margin-left: 2rem;
  }
  .tipoDocumento {
    margin-left: 1rem;
  }
}

.sapce {
  width: 100%;
  margin-bottom: 1.5rem;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .blue-snackbar {
  background: #4fc3f7;
}

::ng-deep .red-snackbar {
  background: #ef9a9a;
}

::ng-deep .yellow-snackbar {
  background: #fff59d;
  color: black;
}
