<section class="contract-list main-full-page-content">
  <mat-card class="sapce">
    <mat-card-header style="display: flex; align-items: center;">
      <div class="titulo">Cargar nuevo contribuyente</div>
    </mat-card-header>

    <mat-card-content>

<br />
<form class="example-form" enctype="multipart/form-data" [formGroup]="formContrib" (ngSubmit)="saveContrib()">
  <div>
    <h3>Datos personales:</h3>
    <br />
    <mat-form-field class="ajustar-campo">
      <input matInput type="text" placeholder="Apellido" formControlName="apellido" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="text" placeholder="Nombre" formControlName="nombre" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <mat-label>Tipo de Documento: </mat-label>
      <mat-select formControlName="tipoDoc" (ngModelChange)="onChange()">
        <mat-option *ngFor="let Option of Options" [value]="Option.value">
          {{Option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="text" placeholder="N° Documento" formControlName="numDoc" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="tel" placeholder="Telefono" formControlName="telefono" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="tel" placeholder="Celular" formControlName="movil" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="email" placeholder="E-Mail" formControlName="email" (ngModelChange)="onChange()">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker1" (ngModelChange)="onChange()" formControlName="fecNac" placeholder="Fecha de nacimiento">
      <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
      <mat-datepicker #datePicker1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <mat-label>Nacionalidad: </mat-label>
      <mat-select formControlName="nacionalidad" (ngModelChange)="onChange()">
        <mat-option *ngFor="let Nacionalidad of Nacionalidades" [value]="Nacionalidad.value">
          {{Nacionalidad.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <mat-label>Estado: </mat-label>
      <mat-select formControlName="estado" (ngModelChange)="onChange()">
        <mat-option *ngFor="let Estado of Estados" [value]="Estado.value">
          {{Estado.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br /><br />
    <h3>Domicilio:</h3>
    <br />
    <mat-form-field class="ajustar-campo">
      <mat-label>Provincias: </mat-label>
      <mat-select formControlName="provincia" (ngModelChange)="onChangeProv()">
        <mat-option *ngFor="let Provincia of Provincias" [value]="Provincia.id">
          {{Provincia.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <mat-label>Departamento: </mat-label>
      <mat-select formControlName="departamento" (ngModelChange)="onChangeDep()">
        <mat-option *ngFor="let Departamento of Departamentos" [value]="Departamento.id">
          {{Departamento.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <mat-label>Localidad: </mat-label>
      <mat-select formControlName="localidad" (ngModelChange)="onChange()">
        <mat-option *ngFor="let Localidad of Localidades" [value]="Localidad.id">
          {{Localidad.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ajustar-campo">
      <input matInput type="text" placeholder="Direccion" formControlName="direccion" (ngModelChange)="onChange()">
    </mat-form-field>
  </div>
  <!--Botones del formulario-->
  <div class="space-button">
    <mat-action-row>
      <button mat-button class="btn btn-outline-info" type="button" (click)="saveContrib()" [disabled]="!save">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-button class="btn btn-outline-info" type="button" (click)="borradoformContrib()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </div>
</form>
      <br />
    </mat-card-content>
  </mat-card>
</section>
